html, body {
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin-top: 1.5rem;
}
.col-md-8 {
    background: #d3d3d35e;
}
.todo__input {
    display: flex;
    align-items: center;
}
.todo__add {
    margin-left: 0.6rem;
}
.todo__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.todo__row {
    display: flex;
    align-items: center;
}
.todo__item {
    max-width: 540px;
    padding-left: 5px;
    word-break: break-word;
    white-space: pre-line;
    display: inline-block;
    text-align: left;
}
.checked {
    text-decoration: line-through;
}
i:hover {
    cursor: pointer;
}
