html, body {
    margin: 0px;
    padding: 0px;
}
* {
    box-sizing: border-box;
    font-family: 微軟正黑體, monospace;
}
.wrap {
    height: 100%;
    width: 100%;
}
#warning {
    background: lightpink;
    color: crimson;
    font-size: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.navbar {
    width: 100%;
    height: 70px;
    background: steelblue;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.navbar__title ,
.navbar__member--login,
.navbar__member--register,
.navbar__member--logout,
.navbar__member--name {
    color: whitesmoke;
    text-decoration: none;
}
.navbar__title {
    font-size: 35px;
    font-weight: bold;
    margin: 0px 15px 0px 40px;
}
.navbar__member--login,
.navbar__member--register,
.navbar__member--logout, 
.navbar__member--name {
    border: 1px solid whitesmoke;
    border-radius: 5px;
    padding: 5px;
    margin-right: 30px;
}
.navbar__member--login:hover,
.navbar__member--register:hover,
.navbar__member--logout:hover,
.navbar__member--name:hover {
    background-color: whitesmoke;
    color: steelblue;
}
.remind__text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1.5px solid steelblue;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    padding-bottom: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}
.remind {
    color: steelblue;
    font-size: 25px;
    margin-bottom: 50px;
    position: relative;
    padding: 50px;
}
.register__title,
.login__title,
.my__comment,
.my__profile--title {
    color: steelblue;
    font-size: 25px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.latest {
    color: steelblue;
    font-size: 25px;
    display: flex;
    justify-content: center;
}
.comment {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.comment__block,
.new__comment--text {
    border: steelblue 1.5px solid;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    height: 100%;
    min-height: 140px;
    font-size: 18px;
    color: gray;
    word-break: break-word;
    white-space: pre-line;
    box-shadow: 3px 3px 5px lightgray;
}
.comment__block {
    margin: 20px;
}
.comment__block--info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: steelblue;
    margin-bottom: 10px;
}
.comment__info--name {
    font-weight: bold;
    font-size: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    min-width: 100px;
}
.img {
    height: 20px;
    width: 20px;
    padding: 0px;
    margin-left: 5px;
}
.img:hover {
    cursor: pointer;
}
.comment__info--time {
    font-size: 12px;
}
.comment__text,
.comment__update--text {
    font-weight: initial;
    word-break: break-word;
    white-space: pre-line;
    font-size: 18px;
    height: 100%;
    min-height: 70px;
    width: 100%;
    min-width: 200px;
    max-width: 670px;
    color: grey;
    outline: none;
}
.comment__text {
    border: hidden;
}
.comment__update--text {
    border: solid 1px lightgray;
    padding: 5px;
}
.comment__update--cancel {
    border: 1px solid steelblue;
    border-radius: 5px;
    height: 45px;
    padding: 10px;
    margin: 10px 0px 0px 10px;
    outline: none;
    font-size: 18px;
    background-color: whitesmoke;
    color: steelblue;
}
.comment__update--cancel:hover {
    cursor: pointer;
    outline: none;
    background-color: steelblue;
    color: whitesmoke;
}
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.page__btn {
    text-decoration: none;
    color: gray;
    outline: none;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
}
.page__btn:hover {
    outline: none;
    cursor: pointer;
    color: steelblue;
    border-bottom: solid 1px steelblue;
}
.on {
    padding: 5px;
    margin: 5px;
    font-size: 15px;
    border-bottom: solid 1px steelblue;
    color: steelblue;
}
/* register.php + login.php */
.register, 
.login {
    display: flex;
    justify-content: center;
}
.register__block,
.login__block {
    border: steelblue 1.5px solid;
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
    width: 380px;
    height: 280px;
    color: steelblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 5px lightgray;
}
.register__nickname,
.register__username,
.register__password,
.login__username,
.login__password {
    width: 250px;
    height: 45px;
    margin-bottom: 15px;
    border-bottom: 1.5px solid steelblue;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 17px;
    outline: none;
}
.btn {
    background: steelblue;
    font-size: 18px;
    color: whitesmoke;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 100px;
    height: 45px;
    padding: 10px;
    margin-top: 10px;
    outline: none;
}
.btn:hover,
.submit:hover {
    cursor: pointer;
    opacity: 1;
    outline: none;
}
.navbar__member {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.new__comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    color: steelblue;
    font-size: 20px;
    font-weight: bold;
}
.new__comment--name {
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    font-size: 22px;
    padding-left: 10px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
}
.new__comment--block {
    width: 100%;
    min-width: 300px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.new__comment--text {
    outline: none;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}
.register__err,
.login__err {
    display: flex;
    justify-content: center;
    color: crimson;
    margin: 10px;
}

/* profile.php*/
.my__profile--title {
    margin-bottom: 20px;
}
.profile__err,
.profile__remind,
.comment__update--err {
    display: flex;
    justify-content: center;
    color: crimson;
    margin-bottom: 20px;

}
.my__profile--border {
    border: steelblue 1.5px solid;
    border-radius: 10px;
    padding: 20px;
    width: 100px;
    min-width: 360px;
    height: 100%;
    min-height: 180px;
    color: steelblue;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 5px lightgray;
}
.hidden {
    display: none;
}
.my__profile--block ~ .my__profile--block {
    margin-top: 20px;
}
.my__profile--input {
    width: 250px;
    height: 40px;
    border-bottom: 1.5px solid steelblue;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.my__profile--nickname + .my__nickname--update,
.my__profile--username + .my__username--update,
.my__profile--password + .my__password--update {
    margin-top: 10px;
}
.submit {
    padding: 8px;
    font-size: 13px;
    margin-left: 5px;
    background: steelblue;
    color: whitesmoke;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
    outline: none;
}
.id {
    display: none;
}
